//* BreadCrumbs.scss

@import '../../styles/variables.scss';

.container-breadcrumbs {
    padding-left: 10px;
    padding-right: 28px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 16px 0px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: $font-size-small;
    color: $background-color-primary;

    &:not(:last-child)::after {
        content: '>';
        color: $background-color-primary;
        padding-left: 5px;
    }
}

//* Smartphone pequeño (portrait)
@media (max-width: 600px) {
    .container-breadcrumbs {
        width: 90%;
    }

    .content-list {
        font-size: $font-size-smallest;
    }
}

//* Smartphone grande (landscape)
@media (min-width: 600px) and (max-width: 900px) {
    .container-breadcrumbs {
        width: 90%;
    }
}

//* Tabletas
@media (min-width: 900px) and (max-width: 1200px) {
    .container-breadcrumbs {
        width: 90%;
    }
}
