//* SearchResults.scss

@import '../../styles/variables.scss';

.container-product-list-li {
    border-bottom: thin solid $background-color-secondary;
    flex-grow: 1;
    width: 100%;
    list-style: none;
    display: flex;
    cursor: pointer;
    margin: $margin-default 0px;
}

.content-image-product {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 180px;
        height: 180px;
        border-radius: 4px;
        margin: 0px $margin-default;
    }
}

.content-first-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    .content-join-texts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .content-price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .text-price {
                align-items: center;
                display: flex;
                font-size: $font-size-title;
                font-weight: 400;
                line-height: 1.25;
                margin: 0px 8px $margin-height 0px;
                color: $background-secondary;
            }
        }

        .content-shipping {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: -34px 0px 0px 10px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .title-product {
        font-size: $font-size-medium;
        font-weight: 400;
        line-height: 1.25;
        margin: 0px 0px;
        color: $background-secondary;
    }

    .text-condition {
        font-size: $font-size-medium;
        font-weight: 400;
        line-height: 1.25;
        margin-right: 8px;
        color: $background-secondary;
        margin-top: 0px;
    }
}

.content-second-product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;

    .text-location {
        align-items: flex-start;
        display: flex;
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.25;
        margin-right: 8px;
        color: $background-secondary;
    }
}

//* Smartphone pequeño (portrait)
@media (max-width: 600px) {
    .container-product-list-li {
        flex-direction: column;
    }

    .content-image-product {
        img {
            width: 140px;
            height: 140px;
        }
    }

    .content-first-product-info {
        width: 100%;
    
        .content-join-texts {
            .content-price {
                .text-price {
                    font-size: $font-size-default;
                }
            }
        }
    
        .title-product {
            font-size: $font-size-default;
        }
    
        .text-condition {
            font-size: $font-size-default;
        }
    }

    .content-second-product-info {
        width: 100%;
        justify-content: flex-start;
    }
}

//* Smartphone grande (landscape)
@media (min-width: 600px) and (max-width: 900px) {
    .container-product-list-li {
        flex-direction: column;
    }

    .content-image-product {
        img {
            width: 140px;
            height: 140px;
        }
    }

    .content-first-product-info {
        width: 100%;
    
        .content-join-texts {
            .content-price {
                .text-price {
                    font-size: $font-size-default;
                }
            }
        }
    
        .title-product {
            font-size: $font-size-default;
        }
    
        .text-condition {
            font-size: $font-size-default;
        }
    }

    .content-second-product-info {
        width: 100%;
        justify-content: flex-start;
    }
}
