//* App.scss

@import 'variables';

body {
    background-color: $background-color-secondary;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $color-secondary;
}
