// variables.scss

$background-primary: #FFE600;
$background-secondary: #333333;
$background-tertiary: #566666;

$background-color-primary: #999999;
$background-color-secondary: #EEEEEE;

$color-button: #17a2b8;
$color-primary: #ffffff;
$color-secondary: #000000;
