//* variables.scss

$background-primary: #FFE600;
$background-secondary: #333333;
$background-tertiary: #666666;

$background-color-primary: #999999;
$background-color-secondary: #EEEEEE;

$color-button: #3483FA;
$color-primary: #ffffff;
$color-secondary: #000000;

$margin-default: 16px;
$margin-height: 32px;

$font-size-default: 16px;
$font-size-title: 24px;
$font-size-title-super: 48px;
$font-size-subtitle: 28px;
$font-size-label: 14px;
$font-size-medium: 18px;
$font-size-small: 12px;
